body{
    font-family :'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
    color: white;
    overflow: hidden;
}

.main{
        display: flex;
        height: 100vh;
        padding: 0.5rem;
        overflow: visible;
} 

.sidebar{
    background-color: black;
    width:340px;
    border-radius: 1rem; /*1rem=16px*/
}
.main-content{
    background-color: #121212;
    flex:1;
    border-radius: 1rem;
    overflow: scroll;
    padding: 0 1.5rem 0 1.5rem;
    margin-left:0.5rem;

}
.music-player{
    background-color: black;
    position:fixed;
    bottom: 0px;
    width:100%;
    height: 72px;
}
a{
    text-decoration:none;
     color:white; 
}
.nav{
    background-color:#121212;
    border-radius:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity:0.5;
    padding:0.5rem 0.75rem;
}
.nav-option:hover{
    
    opacity:1;
}
.nav-option i{
    font-size:1.25rem;
}
.nav-option a{
    font-size:1.5rem;
    margin-left: 1rem;
}
.library{
    background-color:#121212;
    border-radius:1rem; 
    height:100%;
    margin-top:0.5rem;
}
.options{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
}
.lib-options img{
    height:1.25rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    opacity:0.7;
    margin-right: 1rem;
    border-radius: 50%;
}

.icons i:hover{
    opacity:1;
    background-color: rgba(255, 255, 255, 0.367);
    transform: scale(1.2);
}
.box{
    height: 8rem;
    background-color: #232323;
    border-radius:0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem 0 1.75rem 0;
    padding: 1rem 1.25rem ;
      line-height: 2;
}
.box-p1{
    font-size:1rem;
    font-weight: 500;
  
}
.box-p2{
    font-size:0.75rem;
    opacity:0.8;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    color: black;
    width: fit-content;
    
    
}

.dark-badge{
    background-color: #000;
    color: #fff;
}

.sticky-nav{
    background-color: #121212;
    position:sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons{
    margin-left: 1.5rem;
}
.sticky-nav-options{
    display:flex;
    justify-content:center;
    align-items: center;
}
.nav-item{
 margin-right:0.5rem;
}
@media(max-width:1000px){
    .hide{
        display: none;
    }
}

.card{
    background-color:#232323;
    color: white;
    width: 200px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;

}
.card-container{
    display:flex;
        flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
    margin-top: 0.5rem;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.7;
}
h2{
    font-weight: 600;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity:0.4;
}
.album-cover{
    display:flex;
    width:25%;
}
.album-cover img{
    width:4rem;
    margin: 0.2rem;
}
.name{
    display: flex;
    flex-direction: column;
    margin-left:0.5rem;
    margin-top: 0.5rem;
}
.album-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:1rem ;
}
.album-icon i{
    margin-right:0.5rem ;
}
.album-title{
    font-weight: 700;
}
.album-covered{
    opacity:0.7;
}
.player{
    width: 50%;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls{
    width:25%;
}
.player-controls{
    display: flex;
    justify-content:center;
    align-items: center;
}

.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity:1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.progress-bar{
    flex:1;
    appearance: none;
    width: 70%;
    appearance: none;
    background-color: #ddd;
    cursor:pointer;
    outline: none;
}
.progress-bar::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 100px;
  background-color: #ddd;
}
.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #1bd760;
  margin-top: -5px; /* centers the thumb vertically */
  cursor: pointer;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.con-icon i{
    margin-right: 0.5rem ;
    opacity: 0.7;
}
.con-icon i:hover{
    opacity: 1;
}